.geral{
    text-align: center;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 30px
}

.subcont{
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.col-4{
    width: fit-content;
    margin: 10px 50px 10px 50px;
    padding: 10px;
}

.yours-custom-class{
    display: flex;
    justify-content: center;
    align-items: center;
}

.prom{
    background-color: #376FA6 !important;
    padding: 20px;
    height: fit-content;
    
}

.comprar{
    background-color: #F06823 !important;
    border-color: #F06823 !important;
}

.nav{
    background-color: #004F98 !important;
}

.pact{
    width: 140px;
    height: 140px;
    background-color: #004F98;
    border-radius: 200px;
    margin: 0px 0px 10px 30px;
}

.name{
    color: #F06823;
    font-weight: 650;
    font-size: 55px;
}

.sugestao{
    color: #004F98;
    font-size: 40px;
    font-weight: 700;
}

.sugestao-promocao{
    text-align: center;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.prom > .row{
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

p.texto {
    margin-top: 20px;
    color:#004F98 !important; 
    font-weight: 500;
}

.descricao{
    font-weight: 450;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.descricao > p{
    color: #2D5274;
    width: 70%;
}

.confira{
    color: aliceblue;
    font-size: 40px;
    font-weight: 700;
}

.promo{
    border-color: #F06823 !important;
    border-width: 4px;
    color: white !important;
    font-weight: 500;
}

.promo:hover{
    background-color: #F06823 !important;
}

.prom > .row{
    margin: 20px
}

.card {
    width: 250px;
    height: 290px;
    align-items: center !important;
    margin: 10px;
}

.card-img {
    margin-top: 30px;
    margin-inline: auto;
    width: 200px;
    height: 200px;
    background-color: gray;
    border-radius: 100%;
}

h3{
    color: aliceblue;
}

.card-botao > .btn-primary > a {
    color: white !important;
    
}

.card-botao > .btn-primary{
    margin-bottom: 5px;
}

.contpac{
    margin: 15px;
}