.mb-3{
   background-color: white !important;
}

.btn1:hover, .btn2:hover, .btn3:hover{
    background-color: #3a6ea5 !important;
}

.lixeira{
    color: #E10000;
    background: none !important;
    margin: 0 !important;
}

.lixeira:hover{
    color: white;
    background-color: #E10000 !important;
}

.lixo{
    width: 20px !important;
    height: 20px !important;
}

.mb-3 {
   background-color: white !important;
}

.mb-3.nav.nav-tabs,
.container-prod {
    max-width: 1000px;
}