.btn-outline-success {
    color: #004e98;
    border: 1px solid #004e98;
    transition: 0.6s;
}

.btn-outline-success:hover {
    border: 1px solid #004e98;
    background-color: #004e98;
    transition: 0.6s;
}