h1 {
    color: #ff6700;
    font-weight: 600;
    margin-bottom: 1rem;
}

.btn-primary {
    background-color: #ff6700;
    border: none;
    transition: 0.8s;
    margin-top: 0.5rem;
}

.btn-primary:hover {
    background-color: #3a6ea5;
    border: none;
    transition: 0.8s;
}

.form-label {
    color: #004e98;
    font-weight: 500;
    font-size: 18px;
}

.FormText {
    max-height: auto;
}

#myInputProduct {
    margin-bottom: 15px !important;
}

#pesquisar {
    width: 480px
}

.tab {
    margin-top: 20px;
    margin-bottom: 20px;
    overflow: hidden;
  }
  
.tab .btn-primary {
    background-color: #ff6700;
    float: left;
    cursor: pointer;
    transition: 0.3s;
    margin-right: 10px;
}
  
#tab-ativa {
    background-color: #004e98;
}  